<div class="page bg-color-page add_edit_page" data-page="asset.add">
	<div class="navbar theme-white color-black">
        <div class="navbar-inner">
            <div class="left">
            	<a href="#" class="back link"> <i class="icon icon-back color-black"></i></a>
            </div>
            <div class="left navbar_title navbar_title_long color-dealer">{{@global.LANGUAGE.ADD_EDIT_MSG07}}</div>           
        </div>
    </div>
    <div class="page-content">
    	<div class="asset_top bg-white">
	    	<div class="asset_img">
	    		<img src="resources/images/svg_add_photo_general.svg" name="photo" alt="">	    		
	    	</div>
	    	<div class="upload_photo">
	    		<i class="f7-icons color-black">compose</i>
	    	</div>	    	
	    </div>
	    <div class="content-block-title title-color">{{@global.LANGUAGE.ADD_EDIT_MSG00}}</div>
	    <div class="list-block layout-dark">
		  	<ul>		    	
		    	<li>
		    	  	<div class="item-content">
		    	  	  	<div class="item-inner">
		    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.ADD_EDIT_MSG01}}</div>
		    	  	  	  	<div class="item-input">
		    	  	  	  	  	<input type="text" placeholder="Asset Name" name="Name" value="">
		    	  	  	  	</div>
		    	  	  	</div>
		    	  	</div>
		    	</li>
		    	<li>
		    	  	<div class="item-content">
		    	  	  	<div class="item-inner">
		    	  	  	  	<div class="item-title label">IMEI</div>
		    	  	  	  	<div class="item-input">
		    	  	  	  	  	<input type="text" placeholder="XXX XXXX XXXX XXXX" name="IMEI" value="">
		    	  	  	  	</div>
		    	  	  	</div>
		    	  	</div>
		    	</li>
		    	<li>
		    	  	<div class="item-content">
		    	  	  	<div class="item-inner">
		    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.ADD_EDIT_MSG03}}</div>
		    	  	  	  	<div class="item-input">
		    	  	  	  	  	<input type="text" placeholder="{{@global.LANGUAGE.ADD_EDIT_MSG03}}" name="Describe1" value="">
		    	  	  	  	</div>
		    	  	  	</div>
		    	  	</div>
		    	</li>
		    	<li>
		    	  	<div class="item-content">
		    	  	  	<div class="item-inner">
		    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.ADD_EDIT_MSG04}}</div>
		    	  	  	  	<div class="item-input">
		    	  	  	  	  	<input type="text" placeholder="{{@global.LANGUAGE.ADD_EDIT_MSG04}}" name="Describe2" value="">
		    	  	  	  	</div>
		    	  	  	</div>
		    	  	</div>
		    	</li>
		    	<li>
		    	  	<div class="item-content">
		    	  	  	<div class="item-inner">
		    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.ADD_EDIT_MSG05}}</div>
		    	  	  	  	<div class="item-input">
		    	  	  	  	  	<input type="text" placeholder="{{@global.LANGUAGE.ADD_EDIT_MSG05}}" name="Describe3" value="">
		    	  	  	  	</div>
		    	  	  	</div>
		    	  	</div>
		    	</li>
		    	<li>
		    	  	<div class="item-content">
		    	  	  	<div class="item-inner">
		    	  	  	  	<div class="item-title label">{{@global.LANGUAGE.ADD_EDIT_MSG06}}</div>
		    	  	  	  	<div class="item-input">
		    	  	  	  	  	<input type="text" placeholder="{{@global.LANGUAGE.ADD_EDIT_MSG06}}" name="Describe4" class="kbdfix" value="">
		    	  	  	  	</div>
		    	  	  	</div>
		    	  	</div>
		    	</li>
		    </ul>
		</div>
		<div class="content-block">
			<div class="buttons-row">
				<div class="button button-fill assetAddSave">{{@global.LANGUAGE.COM_MSG00}}</div>
			</div>
		</div>
		
			    	
    </div>
</div>