<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106187216531-i28545b2bq5u4586me2q3v4s6s7o8co5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106187216531-i28545b2bq5u4586me2q3v4s6s7o8co5</string>
	<key>API_KEY</key>
	<string>AIzaSyBDxtHG5bNZkgGnCTdXHiwhEnu6X53VM90</string>
	<key>GCM_SENDER_ID</key>
	<string>106187216531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinopacific.tekamogpsprotect</string>
	<key>PROJECT_ID</key>
	<string>gps-installer</string>
	<key>STORAGE_BUCKET</key>
	<string>gps-installer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106187216531:ios:84b04fa26074540e</string>
	<key>DATABASE_URL</key>
	<string>https://gps-installer.firebaseio.com</string>
</dict>
</plist>